/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Franklin&family=Press+Start+2P&display=swap');


/* Fun Text Fillers */

.fillers {
    text-align: center;
    font-family: 'Libre Barcode 128', cursive;
    font-size: 2.5em;
    color: #FFF;
}

/* Sliding Text CSS */

.frame {
    width: 500px;
    border-radius: 20px;
    height: 500px;
    margin: auto;
    position: relative;
    background: #000 center/35%;
    box-shadow: 0px 10px 25px 15px rgba(255, 255, 255, 0.25);
}
.wrap {
    position: absolute;
    top: -1000%;
    bottom: 0;
    width: 80%;
    margin: auto;
    height: 5500px;
    color: #FFE81F;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(250px) rotateX(25deg);
    -moz-transform: perspective(250px) rotateX(25deg);
    -ms-transform: perspective(250px) rotateX(25deg);
    -o-transform: perspective(250px) rotateX(25deg);
    transform: perspective(250px) rotateX(25deg);
}
.path {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 400s linear 4s infinite;
    -moz-animation: scroll 400s linear 4s infinite;
    -ms-animation: scroll 400s linear 4s infinite;
    -o-animation: scroll 400s linear 4s infinite;
    animation: scroll 400s linear 4s infinite;
}
.path .title {
    text-align: center;
}
@-webkit-keyframes scroll {
    0% {
        top: 100%;
   }
    100% {
        top: -170%;
   }
}
@-moz-keyframes scroll {
    0% {
        top: 100%;
   }
    100% {
        top: -170%;
   }
}
@-ms-keyframes scroll {
    0% {
        top: 100%;
   }
    100% {
        top: -170%;
   }
}
@-o-keyframes scroll {
    0% {
        top: 100%;
   }
    100% {
        top: -170%;
   }
}
@keyframes scroll {
    0% {
        top: 100%;
   }
    100% {
        top: -170%;
   }
}

/* Affiliations */

.aff-title {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5em;
}

.affiliation {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2em;
}

.lightside {
    background: rgba(177, 208, 255, 0.8);
    color: #005A76;
    box-shadow: -5px 8px 10px rgba(200, 242, 255, 0.25);
    border-radius: 60px;
}

.midpeep {
    background: rgba(217, 217, 217, 0.8);
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.25);
    border-radius: 60px;
}

.darkside {
    background: rgba(129, 70, 70, 0.8);
    color: #490000;
    box-shadow: 5px 8px 10px rgba(255, 123, 123, 0.25);
    border-radius: 60px;
}