.foot {
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: #000000;
    box-shadow: 0px 10px 50px 5px #ffffff40;
}

.info {
    box-sizing: border-box;
    background: #000000;
    border: 5px solid #FFE81F;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    color: #FFE81F;
}

.submit {
    width: 40px
}